<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../static/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
</head>
<body>
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <form action="#">
                    <div class="row">
                        <div class="col-lg-8">
                            <h6 class="checkout__title">Login</h6>
                            <div class="row">
                                <!-- username -->
                                <div class="form-group col-lg-6">
                                    <br>
                                    <h6 for="exampleInputEmail1">Set username</h6>
                                    <input type="text"  class="form-control" name="username">
                                </div>
                                <!-- password -->
                                <div class="form-group col-lg-6">
                                    <br>
                                    <h6 for="exampleInputEmail1">Set password</h6>
                                    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <br><br>
                            <div class="continue__btn update__btn">
                                <a href="#"><i class="fa fa-spinner"></i> Login</a>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <br><br>
                            <div class="cart__total">
                                <h6>No aacount?</h6>
                                <a href="#" class="primary-btn">Registrate now</a>
                            </div>
                        </div>
                        </div>
                </form>
            </div>
        </div>
    </section>


<!-- Js Plugins -->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.nice-select.min.js"></script>
    <script src="../static/js/jquery.nicescroll.min.js"></script>
    <script src="../static/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/js/jquery.countdown.min.js"></script>
    <script src="../static/js/jquery.slicknav.js"></script>
    <script src="../static/js/mixitup.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>
</html>